@font-face {
  font-family: "Circular";
  src: url("./fonts/CircularSpotifyText-Light.otf") format("OpenType");
}

@font-face {
  font-family: "boldCircular";
  src: url("./fonts/CircularSpotifyText-Bold.otf") format("OpenType");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "boldCircular";
}
