
html
{
    font-size: 16px;
}
body
{
    font-size: 16px;
}
header
{
    background: #06ef678c;
    padding: 45px 0;
    color:black;
}
section
{
    padding: 45px 0;
}
/* font section Css */
.em
{
    border: 3px solid magenta;
    padding: 30px;
    margin-bottom: 20px;
    /* font-size: 1.5em; */
    /* 1.5rem means it 150% font-size of its parent(body) 20px of 1.5rem */
}
.rem
{
    border: 3px solid mediumseagreen;
    padding: 30px;
    font-size: 1.5rem;
}

.container
{
    max-width: 620px;

    /* width:50%; */
    /*if container is 50%, that means it always going to be 50% of its parent. 
    Percentage is always relative to parent*/
    margin: 0 auto;
    border: 5px solid red;
}
.image
{
    width: 90%;
    /* 90% of the its parent  that is 90% of the container */
}
.section-two
{
    background: #06efe78c;
    color:black;
}
h2 ,h1
{
    font-size:2rem;
}