* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.nav {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url("/Amazon_Clone/img/amazon_logo.png");
  height: 50px;
  width: 100%;
  background-size: cover;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
}

/* Adding style in nav-address class */
.add-icon {
  display: flex;
}

.add-first {
  color: #CCCCCC;
  font-size: 0.85rem;
  margin-left: 15px;
}

.add-sec {
  font-size: 1rem;
  align-items: center;
  margin-left: 3px;
}

/* nav-search class Styling*/
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 650px;
  height: 40px;
  border-radius: 5px;
}

.select-option {
  background-color: #fdf6f6;
  padding: 5px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(255, 174, 0);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #0f1111;
}

.nav-search:hover {
  border: 5px solid rgb(255, 174, 0);
  border-radius: 5px;
}

/* sign-in class styling */
span {
  font-size: 0.7rem;
  font-weight: 700;
}

.nav-second {
  font-size: 14px;
  font-weight: 700;
}

/* sign-return class styling */
span {
  font-size: 0.7rem;
  font-weight: 700;
}

.nav-second {
  font-size: 14px;
  font-weight: 700;
}

.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  font-size: 0.85rem;
}

/* Styling the panel */
.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: #fdf6f6ff;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.panel-ops p {
  display: inline;
  margin: 5px 0 6px 0;
  padding: 8px 9px;
}

.panel-ops {
  width: 90%;
  font-size: 0.85rem;
  font-weight: bolder;
}

/* Styling the hero section */
.hero-section {
  background-image: url("/Amazon_Clone/img/hero.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background: #F5F6F6;
  color: black;
  font-size: 14px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  width: 80%;
  margin-bottom: 25px;
}

.link {
  color: #007185;
  text-decoration: none;
}

.shop-content
{
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(231, 251, 7, 0.647);
}
.box
{
  border: 2px solid red;
  height:350px;
  width: 24%;
  background-color: white;
  border-radius: 2px solid rgb(0, 0, 0);
  /* margin: 10px; */
}
.box-img
{
  background-image: url("/Amazon_Clone/img/Fuji_Quad_Headset_.jpg");
  height:60%;
  width: 35px;
}
